<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="plants-link"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plants-link">
                <a href="{% url 'products' %}?category=foliage" class="dropdown-item">Foliage</a>
                <a href="{% url 'products' %}?category=cacti_and_succulents" class="dropdown-item">Cacti &amp; Succulents</a>
                <a href="{% url 'products' %}?category=easy_care" class="dropdown-item">Easy Care</a>
                <a href="{% url 'products' %}?category=unique_plants" class="dropdown-item">Unique Plants</a>
                <a href="{% url 'products' %}?category=foliage,cacti_and_succulents,easy_care,unique_plants" class="dropdown-item">All Plants</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pots_and_hangers-link"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pots and Hangers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pots_and_hangers-link">
                <a href="{% url 'products' %}?category=terracotta_pots" class="dropdown-item">Terracotta Pots</a>
                <a href="{% url 'products' %}?category=plastic_pots" class="dropdown-item">Plastic Posts</a>
                <a href="{% url 'products' %}?category=hangers" class="dropdown-item">Macrame Hangers</a>
                <a href="{% url 'products' %}?category=terracotta_pots,plastic_pots,hangers" class="dropdown-item">All Pots and hangers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>